@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", serif;
    background-image: url(forrasok/palya3.webp);
    background-size: cover;
}

p {
    font-size: 3em;
}

h1 {
    font-size: 7em;
    text-align: center;
}

.kapusok {
    display: flex;
    align-items: center;
}

.kapusok p {
    margin-right: 20px;
}

.kapusok img {
    width: 400px;
    height: auto;
    margin-left: 10px;
}

a:visited, a:hover, a:active {
    color: black;
} 