@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", serif;
}
body {
    background-image: url(forrasok/allianz_arena7.jpg);
    background-attachment: fixed;
    margin: 0;
}

h1 {
    color: white;
    font-size: 3em;
    margin-right: 20px;
}

.logo {
    width: 4%;
    height: 4%;
    padding-left: 60px;
    display: flex;
    margin-right: 30px;

}

.fej {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.felsorolas {
    background-color: darkred;
    display: flex;
    padding-left: 300px;
    font-size: 1.5em;
    color: white;
    gap: 200px;
}

.felsorolas p {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;

}

a:visited, a:hover, a:active {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

.felsorolas a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 250px;
    padding-left: 125px;
    flex-wrap: wrap;
    margin-top: 125px;
}

.bolt, .gol, .hirek {
    font-size: 2em;
    text-align: center;
    color: white;
    width: 400px;
}

.bolt img, .gol img, .hirek img {
    width: 100%; 
    height: auto;
}

#csapat {
    background-color: darkred;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid darkred;
}

#csapat:hover {
    transform: scale(1.1);
    background-color: rgb(252, 66, 66);
    border-radius: 20px;
}

#linkek {
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
    padding-right: 40px;
    border : 10px solid darkred;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 10px solid white;
}

#linkek:hover {
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}