@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", serif;
}
body {
    background-image: url(/forrasok/allianz_arena7.jpg);
    background-attachment: fixed;
    margin: 0;
}

h1 {
    color: white;
    font-size: 3em;
    margin-right: 20px;
}

.logo {
    width: 4%;
    height: 4%;
    padding-left: 60px;
    display: flex;
    margin-right: 30px;

}

.fej {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.felsorolas {
    background-color: darkred;
    display: flex;
    padding-left: 300px;
    font-size: 1.5em;
    color: white;
}

.felsorolas p {
    margin-right: 200px;

}

a:visited, a:hover, a:active {
    color: black;
}

.felsorolas a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 250px;
    padding-left: 125px;
    flex-wrap: wrap;
    margin-top: 125px;
}

.bolt, .gol, .hirek {
    font-size: 2em;
    text-align: center;
    color: white;
    width: 400px;
}

.bolt img, .gol img, .hirek img {
    width: 100%; 
    height: auto;
}
